{
    "root": true,
    "parser": "@typescript-eslint/parser",
    "plugins": [
        "@typescript-eslint",
        "prettier",
        "security"
    ],
    "extends": [
        "eslint:recommended",
        "plugin:@typescript-eslint/recommended",
        "prettier",
        "plugin:security/recommended"
    ],
    "rules": {
        "array-callback-return": 1,
        "semi": ["warn", "always"],
        "@typescript-eslint/no-unused-vars": "error",
        "@typescript-eslint/no-explicit-any": "off",
        "prettier/prettier": 2,
        "@typescript-eslint/adjacent-overload-signatures": "warn",
        "@typescript-eslint/ban-ts-comment": "warn",
        "no-case-declarations": "warn",
        "no-sparse-arrays": "warn",
        "no-regex-spaces": "error",
        "use-isnan": "error",
        "no-fallthrough": "error",
        "no-empty-pattern": "error",
        "no-self-assign": "warn",
        "strict": "error"
    }
}